<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Warsow.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>6</integer>
		</dict>
		<key>angelwrap_mac.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>7</integer>
		</dict>
		<key>cgame_mac.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>4</integer>
		</dict>
		<key>cin_mac.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>10</integer>
		</dict>
		<key>ftlib_mac.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>13</integer>
		</dict>
		<key>game_mac.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>3</integer>
		</dict>
		<key>irc_mac.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
		<key>ref_gl.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>12</integer>
		</dict>
		<key>snd_openal_mac.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>1</integer>
		</dict>
		<key>snd_qf_mac.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>2</integer>
		</dict>
		<key>steamlib.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>11</integer>
		</dict>
		<key>ui_mac.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>5</integer>
		</dict>
		<key>wsw_server.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>8</integer>
		</dict>
		<key>wswtv_server.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>9</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>283CA5290EA32E3E00209134</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>283CA8580EA3303500209134</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>283CA8880EA3316200209134</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>283CA8AF0EA332BC00209134</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>283CA8B60EA332CF00209134</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>283CA8BD0EA332DA00209134</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>283CABFD0EA3406100209134</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>283CAD330EA34AD400209134</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>28F121CC0F6B1DE00053E51D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>28F121D80F6B1DFA0053E51D</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>9D48C54715C2F94E007A1955</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F319F326191B3B2A001A1D4B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F323F5621918080400F8FD6C</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>F3FDBAA1191D97560021E994</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
