source/release/
source/debug/
source/build*/
libsrcs/angelscript/sdk/angelscript/lib/
libsrcs/angelscript/sdk/angelscript/projects/gnuc/obj/
libsrcs/libRocket/libRocket/lib/
libsrcs/libRocket/libRocket/Build/obj/
*.sdf
*.vcxproj.user
