[submodule "third-party/libRocket"]
	path = third-party/libRocket
	url = https://github.com/Qfusion/libRocket
	shallow = true
[submodule "third-party/angelscript"]
	path = third-party/angelscript
	url = https://github.com/Qfusion/angelscript.git
	shallow = true
[submodule "libsrcs"]
	path = libsrcs
	url = https://github.com/Qfusion/qfusion-libsrcs.git
	shallow = true
